#imperador{
    background-image: url(fundo-imperador.jpg);
    margin: auto;
}
#tarzan{
    background-image: url(fundo-selva.jpg);
    margin: auto;
}
#nemo{
    background-image: url(mar-fundo.jpg);
    margin: auto;
}
header{
    margin: auto;
    padding: 20px 10px 20px 10px;
}

h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    font-family: 'WaltographRegular';
}
.perguntas{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 10px 30px 10px 30px;
}
img{
    width: 400px;
}
.tarzan02{
    width: 300px;
}
.imperador02{
    width: 200px;
}
.perguntas p{
    font-size: 30px;
    color: white;
    text-align:justify;
    margin: 0px 20px 20px 20px;
    font-family: 'Bebas Neue', cursive;
    width: 50%;
}
.respostas{
    display: flex;
    justify-content: space-around;
    vertical-align: text-top;
    margin-top: 20px;
    color: white;

}

.respostas p{
    width: 40%;
    font-size: 30px;
    margin-bottom: 10px;
    text-align:center;
    font-family: 'Bebas Neue', cursive;
}
button{
    margin-bottom: 30px;
    width: 30%;
    height: 30px;
    font-size: 20px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    background-color: red;
    border-bottom: red;
    position:absolute;
    right: 35%;
    cursor: pointer;
    
    }
    footer{
     display: flex;
     justify-content: space-around;
     flex-direction: column;
    }
    p span{
        color: white;
        font-size: 30px;
        text-align: center;
        font-family: 'WaltographRegular';
    }
    footer p{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 20px;
        text-align: center;
    }

@media screen and (max-width: 700px){
    #imperador, #tarzan, #nemo{
        background-color: rgb(15, 15, 59);
        background-image: none;
        margin: auto;
    }
    header{
        margin: 5px 0 5px 0;
        padding: 10px 0 10px 0;
    }
    h1{
        color: white;
        font-size: 40px;
        text-align: center;
        margin: 0 0 0 0;
        font-family: 'WaltographRegular';
    }
    img{
        width: 200px
    }

    .perguntas{
        flex-direction: column;
        text-align: justify;
        margin: 5px 0 5px 0;
        padding: 10px 0 10px 0;
        align-items:center;
        justify-content: space-between;
      

    }
    .respostas{
        flex-direction: column;
        flex-wrap: wrap;
        text-align: justify;
        margin: 5px 0 5px 0;
        padding: 10px 0 10px 0;
        align-items:center;
        justify-content: space-between;
        
    }

    .perguntas p, .respostas p{
        font-size: 30px;
        justify-content: space-around;
        text-align:justify;
        font-family: 'Bebas Neue', cursive;
        padding: 10px 10px 10px 10px;
        margin: 0 0 0 0;
        width: initial;
        color: white;
    }
}