#vitoria{
    background-image: url(wallpaper.jpg);
    margin: auto;
}
#gameover-tarzan{
    background-image: url(fundo-selva.jpg);
    background-position: 100%;
    margin: auto;
}
#gameover-kuzco{
    background-image: url(fundo-imperador.jpg);
    background-position: 100%;
    margin: auto;
}
#gameover-nemo{
    background-image: url(mar-fundo.jpg);
}
header{
    margin: auto;
    padding: 20px 10px 0px 10px;
}
h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    font-family: 'WaltographRegular';
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.gameover{
    color: red;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 80px;
}
p{
    font-size: 50px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center; 
    margin: 20px 0px 0px 0px;
}
.gameover{
    color: red;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 80px;
}
.tarzan-venceu{
    width: 200px;
}
.marlin-e-dory{
    width: 400px;
}
.kuzco-lhama{
    width: 300px;
}
a{
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
}
.fim-de-jogo{
margin:20px 10px 10px 10px; 
width: 30%;
height: 30px;
font-size: 20px;
color: white;
font-family: 'Bebas Neue', cursive;
background-color: red;
border-bottom: red;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
   }
   p span{
       color: white;
       font-size: 30px;
       text-align: center;
       font-family: 'WaltographRegular';
   }
   footer p{
       font-family: 'Times New Roman', Times, serif;
       color: white;
       font-size: 20px;
       text-align: center;
   }
@media screen and (max-width: 700px){
    #vitoria, #gameover-tarzan, #gameover-kuzco, #gameover-nemo{
        background-image: none;
        background-color: rgb(15, 15, 59);
        margin: auto;
    }
    header{
        margin: 5px 0 5px 0;
        padding: 10px 0 10px 0;
        background-image: none;
    }
    p{
        text-align: justify;
        font-size: 30px;
        padding: 10px 10px 10px 10px;
    }
    .gameover{
        font-size: 50px;
    }
    .tarzan-venceu{
        width: 250px;
    }
    .marlin-e-dory{
        width: 200px;
    }
    .kuzco-venceu{
        width: 200px;
    }
    .kuzco-lhama{
        width: 200px;
    }
    .tarzan-perdeu{
    width: 200px;
    }
    .fim-de-jogo{
        height: 60px;
    }
}
